<ul>
{{#each domain in history}}
  <li>Domain: {{domain.hostname}}
    <ul>
    {{#each history in domain.histories}}
      <li>History: {{history.title}}
        <ul>
          {{#each visit in history.visits}}
            <li>
              Visit: {{visit}}
            </li>
          {{/each}}
        </ul>
      </li>
    {{/each}}
    </ul>
  </li>
{{/each}}
</ul>
{{!-- {{ember-table
  height=400
  hasFooter=false
  enableContentSelection=true
  columnsBinding="context.columns"
  contentBinding="context.content"
}} --}}
