<nav class="uk-navbar">
  <ul class="uk-navbar-nav">
    {{#link-to 'analytics' activeClass='uk-active' tagName="li"}}
      <i class="uk-icon-bar-chart-o"></i>
      <span class="screen-reader-text">Analytics</span>
    {{/link-to}}
    {{#link-to 'about' activeClass='uk-active' tagName="li"}}
      <i class="uk-icon-info-circle"></i>
      <span class="screen-reader-text">About</span>
    {{/link-to}}
  </ul>
</nav>