nav {
  color: #87888a;
  background-color: #363636;
  position: fixed;
  left: 0;
  z-index: 1001;
  width: 45px;
  height: 100%;
  @include span(1);

  ul {
    list-style-type: none;
    li {
      width: 100%;
    }
  }

}