Analytics

<div id="analytics">
  <div class="history">
    <div class="dates">
      <ul>
        <li>
          <button>Past 24hrs</button>
        </li>
        <li>
          <button>Past Week</button>
        </li>
        <li>
          <button>Past Month</button>
        </li>
        <li>
          <button><i class="uk-icon-calendar"></i></button>
        </li>
      </ul>
    </div>

    <div class="entries">
    {{history-items}}
    </div>
  </div>

  <div class="charts">
    I am the charts area
  </div>
</div>